<h1><%= @list.name %></h1>
<p>Find me in app/views/lists/show.html.erb</p>
<%= cl_image_tag @list.photo.key, height: 300, width: 400, crop: :fill %>
<br>
<%= link_to "+ add new bookmark", new_list_bookmark_path(params[:id]) %>


<ul class="list-group">
  <% @list.bookmarks.each do |bookmark| %>
    <li class="list-group-item"><%= bookmark.comment %></li>
    <% image_url = bookmark.movie.poster_url %>
    <li class="list-group-item"><%= image_tag(image_url, class: 'image') %></li>
    <li class="list-group-item"><%= bookmark.movie.title %></li>
    <li class="list-group-item"><%= bookmark.movie.overview %></li>
     <%= link_to "Delete",
    bookmark_path(bookmark),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
  <% end %>
</ul>
<br>
<%= link_to "back to lists", lists_path %>
